@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900,300italic,600italic,900italic");

html {
  font-size: 14pt;
  font-weight: 300
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 11pt;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 10pt;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

h1 {
  font-size: 3.25rem;
  line-height: 1.25;
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.35;
  margin: 0 0 2rem 0;
}

h3 {
  font-size: 1.75rem;
  margin: 0 0 1.5rem 0;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }

  h3 {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
  }

  h4 {
    font-size: 1rem;
  }
}

p {
  line-height: 1.65;
}

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #7a7d86;
  font-size: 1rem;
  line-height: 1.65;
}

* {
  box-sizing: border-box;
}